@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  src: url('HelveticaNeueLIGHT.otf') format('opentype');
}

/* @font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  src: url('HelveticaNeueBOLDotf.otf') format('opentype');
} */
